---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Advice to Revisit"
	description="Videos I should watch regularly"
	pubDate={new Date('January 20 2025')}
>

<section>
<h4>These are sites that I find myself bookmarking again and again:</h4>
<ul>
	<li><a target="_blank" href="https://www.youtube.com/watch?v=OBNt2nFzwFo&t=322s">Eckhart Tolle on the True Purpose of Life: Beyond the Pursuit of Happiness</a></li>
	<li><a target="_blank" href="https://www.youtube.com/watch?v=LRm_H158qc0">Sam Harris Life Advice Will Change Your Future (MUST WATCH)</a></li>
	<li><a target="_blank" href="https://www.youtube.com/watch?v=w36XtC8ahN0">Sam Harris: Meaning of Life</a></li>
	<li><a target="_blank" href="https://www.youtube.com/watch?v=68OWKq-aEOI">STOP Looking For Purpose In Life (A MUST WATCH) | An Eye-Opening Speech by Sadhguru</a></li>  
</ul>
</section>

</Layout>

<style>
	hr {
		height: 20px;
		border-top: 2px solid var(--color-theme-2);
	}
	section {
		margin: 2rem;
		margin-bottom: 4rem;
	}
</style>
