---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Favorites on the Internet"
	description="Farks of the Larks"
	pubDate={new Date('June 22 2024')}
>

<section>
<h4>These are sites that I find myself bookmarking again and again:</h4>
<ul>
	<li><a target="_blank" href="https://www.joshwcomeau.com/">https://www.joshwcomeau.com/</a></li>
	<li><a target="_blank" href="https://blog.frankel.ch/">https://blog.frankel.ch/</a></li>
	<li><a target="_blank" href="https://www.hillelwayne.com/post/">https://www.hillelwayne.com/post/</a></li>
	<li><a target="_blank" href="https://joshcollinsworth.com/blog">https://joshcollinsworth.com/blog</a></li>
	<li><a target="_blank" href="https://www.charlespetzold.com/blog/">https://www.charlespetzold.com/blog/</a></li>
	<li><a target="_blank" href="https://danluu.com/">https://danluu.com/</a></li>
	<li><a target="_blank" href="https://www.henrikkarlsson.xyz/">https://www.henrikkarlsson.xyz/</a></li>
	<li><a target="_blank" href="https://www.ribbonfarm.com/">https://www.ribbonfarm.com/</a></li>
	<li><a target="_blank" href="https://sive.rs/">https://sive.rs/</a></li>
	<li><a target="_blank" href="https://swizec.com/">https://swizec.com/</a></li>
	<li><a target="_blank" href="https://waitbutwhy.com/">https://waitbutwhy.com/</a></li>
	<li><a target="_blank" href="https://www.lesswrong.com/">https://www.lesswrong.com/</a></li>
	<li><a target="_blank" href="https://infrequently.org/">https://infrequently.org/</a></li>	
	<li><a target="_blank" href="https://kk.org/thetechnium/">https://kk.org/thetechnium/</a></li>	
	<li><a target="_blank" href="https://pluralistic.net/">https://pluralistic.net/</a></li>	
  </ul>
</section>

<hr />

<section>
  <h4>Favorite Tech videos:</h4>
	<ul>
	<li><a target="_blank" href="https://www.youtube.com/watch?v=4EmstuO0Em8">DEF CON 32 - Disenshittify or die! How hackers can seize the means of computation - Cory Doctorow</a></li>
	<li><a target="_blank" href="https://www.youtube.com/watch?v=HaEPXoXVf2k&t=52s">AWS re:Invent 2018: Amazon DynamoDB Deep Dive: Advanced Design Patterns for DynamoDB (DAT401)</a></li>
	<li><a target="_blank" href="https://www.youtube.com/watch?v=p0lFyPuH8Zs&t=2739s">How browsers REALLY load Web pages — Robin Marx</a></li>
	<li><a target="_blank" href="https://www.youtube.com/watch?v=2JB1_e5wZmU">Domain Modeling Made Functional - Scott Wlaschin - KanDDDinsky 2019</a></li>
	<li><a target="_blank" href="https://www.youtube.com/watch?v=H8ZOp8ayluU">The Philosophy of Architecture - Barry O'Reilly - NDC Oslo 2024</a></li>
	<li><a target="_blank" href="	https://www.youtube.com/watch?v=kYUicaho5k8">Keynote: AI without the BS, for humans - Scott Hanselman - NDC London 2025</a></li>
  </ul>
</section>

<hr />

<section>
  <h4>Favorite Tech books:</h4>
	<ul>
	<li><a target="_blank" href="https://www.amazon.com/gp/product/0385495315/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1">The Code Book: The Evolution of Secrecy from Mary, Queen of Scots to Quantum Cryptography</a></li>
	<li><a target="_blank" href="https://www.amazon.com/gp/product/0735619670/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1">Code Complete: A Practical Handbook of Software Construction</a></li>
	<li><a target="_blank" href="https://www.amazon.com/gp/product/0201835959/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1">Mythical Man-Month, The: Essays on Software Engineering</a></li>
	<li><a target="_blank" href="https://www.amazon.com/gp/product/1449373321/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1">Designing Data-Intensive Applications: The Big Ideas Behind Reliable, Scalable, and Maintainable Systems</a></li>
	<li><a target="_blank" href="https://www.amazon.com/Philosophy-Software-Design-2nd/dp/173210221X">A Philosophy of Software Design</a></li>
  </ul>
</section>

<hr />

<section>
	<h4>Favorite Music While Working:</h4>
	  <ul>
	  <li><a target="_blank" href="https://www.youtube.com/watch?v=-AGqAP7TzTw">Winter in a Medieval Village - Fantasy Lute Music</a></li>
	  <li><a target="_blank" href="https://www.youtube.com/watch?v=Sw6__j_qb84">The Elder Scrolls 'Peace in Tamriel' (A Relaxing Music Compilation) (Morrowind, Oblivion & Skyrim)</a></li>
	  <li><a target="_blank" href="http://www.rpgamers.net/radio/">RPG Gamers - Game Music Radio</a></li>
	  <li><a target="_blank" href="https://www.youtube.com/watch?v=ywT0aG0471Y">Hearthstone: Music from the Tavern - Anniversary Picks | Original Soundtrack</a></li>
	  <li><a target="_blank" href="https://www.youtube.com/watch?v=w5vjRnpQAwo">Christmas break 2011. You start Skyrim for the first time.</a></li>
	  <li><a target="_blank" href="https://www.youtube.com/watch?v=ebmwJnhtMgY">World of Warcraft 'The Ultimate Journey' (A Relaxing Music Compilation)</a></li>
	  <li><a target="_blank" href="https://www.youtube.com/watch?v=uQGrzMwVGtI">Relaxing Halo Music – Day & Night Cycle</a></li>
	  <li><a target="_blank" href="https://www.youtube.com/watch?v=BMFSrBStxZg">Video Game Music: Snow</a></li>
	  <li><a target="_blank" href="https://www.youtube.com/watch?v=ugTluz9d3eg">Tomorrow the Battle will be long...So Rest a little at our Bonfire [Medieval Ambient Music]</a></li>
	</ul>
  </section>

</Layout>

<style>
	hr {
		height: 20px;
		border-top: 2px solid var(--color-theme-2);
	}
	section {
		margin: 2rem;
		margin-bottom: 4rem;
	}
</style>
